/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacques+Francois+Shadow&family=Lilita+One&display=swap');
@media (min-width: 1100px) {
    #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
    #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #bdbdbd;
      border-radius: 9px;
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
  }
  /* Some Cool Stuff */
  .demo-card:nth-child(1) {
    order: 1;
  }
  .demo-card:nth-child(2) {
    order: 4;
  }
  .demo-card:nth-child(3) {
    order: 2;
  }
  .demo-card:nth-child(4) {
    order: 5;
  }
  .demo-card:nth-child(5) {
    order: 3;
  }
  .demo-card:nth-child(6) {
    order: 6;
  }
  /* Border Box */
  * {
    box-sizing: border-box;
  }
  /* Fonts */
  body {
    font-family: Roboto;
  }
  #timeline {
    padding: 0px 0;
    /* background: #f7f7f7; */
    /* border-top: 1px solid rgba(191, 191, 191, 0.4); */
    /* border-bottom: 1px solid rgba(191, 191, 191, 0.4); */
  }
  #timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1100px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1170px;
      height: 1650px;
      margin: 0 auto;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 4px solid rgba(0, 0, 0, 0.4);
  }
  @media (min-width: 1100px) {
    #timeline .demo-card-wrapper::after {
      border-left: 4px solid rgba(0, 0, 0, 0.158);
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }
  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.158);
    }
  }
  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 40%;
    }
  }
  @media (min-width: 1100px) {
    #timeline .demo-card {
      max-width: 450px;
      height: 350px;
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 15px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 15px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: 180px;
    }
  }
  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }
  .number-box{
    /* background-color: white !important; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 5px rgba(0, 0, 0, .2);
  }
  #timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
  }
  #timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 {
      font-size: 165%;
      line-height: 1.2rem;
    }
  }
  #timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
      font-size: 0.8rem;
    }
  }
  #timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
  }
  @media (min-width: 1100px) {
    #timeline .demo-card .body {
      height: 315px;
    }
  }
  #timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
  }
  #timeline .demo-card--step1 {
    background-color: hsl(87, 42%, 39%);
  }
  #timeline .demo-card--step1 .head::after {
    border-color: hsl(87, 42%, 39%);
  }
  #timeline .demo-card--step2 {
    background-color: hsl(87, 44%, 45%);
  }
  #timeline .demo-card--step2 .head::after {
    border-color: hsl(87, 44%, 45%);
  }
  #timeline .demo-card--step3 {
    background-color: hsl(87, 48%, 51%);
  }
  #timeline .demo-card--step3 .head::after {
    border-color: hsl(87, 48%, 51%);
  }
  #timeline .demo-card--step4 {
    background-color: hsl(87, 53%, 61%);
  }
  #timeline .demo-card--step4 .head::after {
    border-color: hsl(87, 53%, 61%);
  }
  #timeline .demo-card--step5 {
    background-color: hsl(87, 58%, 69%);
  }
  #timeline .demo-card--step5 .head::after {
    border-color: hsl(87, 58%, 69%);
  }
  

  .head h2{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-weight: 600 !important; */
      /* font-family: "Bebas Neue", sans-serif !important;
      font-weight: 400 !important;
      font-style: normal !important; */
      /* font-family: "Jacques Francois Shadow", serif;
      font-weight: 400;
      font-style: normal; */
      /* font-family: "Lilita One", sans-serif; */
      /* font-weight: 400;
      font-style: normal;
       */
    font-family: 'Bebas Neue', cursive;
    line-height: 25px !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .demo-card{
    border-radius: 10px;
  }
  .number-box{
    border-radius: 10px;
  }


#timeline .demo-card .body {
  height: 90%;
}



.body > p {
  /* font-family: 'Bebas Neue', cursive; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  /* font-weight: 400; */
  color: #000000;
  /* text-shadow: 0.5px 0.5px 0.3px rgba(0, 0, 0, 0.5); */
  margin: 0;
  padding: 0;
  /* text-align: center; */
}


@media (min-width: 1100px) {
  .body > p {
    /* font-family: 'Bebas Neue', cursive; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 21px !important;
    line-height: 26px !important;
    /* font-weight: 400; */
    color: #5f5f5f;
    /* text-shadow: 0.5px 0.5px 0.3px rgba(0, 0, 0, 0.5); */
    margin: 0;
    padding: 0;
    /* text-align: center; */
  }
}

.body{
  height: fit-content !important;
}
















.style1 {
}
.style2 {
  text-shadow: rgba(255, 255, 255, 255) 0px 1px 4px;
  background-color: hsl(0, 0%, 100%) !important;
  /* background-color: hsl(90, 100%, 98%) !important; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  color: black;
  font-weight: 500;
  padding-right: 10px;
  padding-left: 10px;
  margin: 2px;
  padding-bottom: 4px;
  border-radius: 10px;
  margin: 5px;
  margin-left: 0px;
}
.style3 {
}
.mainContent {
  font-weight: 400;
  margin: 10px;
}

.Skill-holder {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}


.TitleData{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  text-align: center;
}


.body > p{
  margin-bottom: 0px !important;
}