@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.skills-helper {
  margin-top: 40px;
}
.custom-skills-container {
  margin-top: 38px !important;
  padding: 30px;
  text-align: center;
}
@media (min-width: 1100px) {
  .custom-skills-container {
    padding-right: 10% !important;
    padding-left: 10% !important;
  }
}

.custom-skills-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: hsl(86, 45%, 54%);
}

.custom-skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 30px;
}

.custom-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.custom-skill-icon {
  font-size: 5.4rem;
  color: hsl(86, 45%, 54%);
  margin-bottom: 10px;
}

.custom-skill p {
  text-shadow: rgba(0, 0, 0, 0.4) 0.5px 0.5px 0.6px;
  margin: 0;
  font-size: 1.2rem;
  /* color: hsl(86, 47%, 31%); */
  color: hsl(86, 45%, 54%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
  .custom-skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .custom-skill-icon {
    font-size: 3.2rem;
  }

  .custom-skill p {
    font-size: 1rem;
  }
}
.custom-skills-container {
  margin-top: 0;
  padding-top: 0 !important;
}
@media (max-width: 385px) {
  .custom-skill-icon {
    font-size: 3rem !important;
  }
  .custom-skill p {
    margin: 0;
    font-size: 1.2rem;
  }
  .custom-skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  }
}
@media (max-width: 455px) {
  .custom-skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
@media (max-width: 595px) {
  .custom-skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
}

.border-boxing {
  padding: 2px;
  border-radius: 10px;
}

.active-skill .custom-skill-icon {
  color: white;
}

.active-skill > p {
  color: white;
}

.marquee-w {
  position: relative;
  display: block;
  width: 100%;
  height: 95px;
  margin: 0 auto;
  overflow: hidden;
}

.marquee {
  position: absolute;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}

.marquee span {
  opacity: 0.3;
  color: hsl(86, 45%, 54%);
  display: inline-block;
  padding-left: 100%;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  font-size: 10vw;
  animation: marquee 25.9s linear infinite;
}

.marquee2 span {
  animation-delay: 12.9s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.color-specific span {
  opacity: 0.9;
  color: hsl(86, 45%, 54%);
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  .marquee span {
    font-size: 80px;
  }
}
@media (max-width: 685px) {
  .marquee-w {
    height: 80px;
  }
}
@media (max-width: 490px) {
  .marquee-w {
    height: 57px;
  }
}

@media (max-width: 380px) {
  .marquee-w {
    height: 46px;
  }
}
@media (max-width: 300px) {
  .marquee-w {
    height: 34px;
  }
}

@media (min-width: 768px) {
  .marquee-w-2 {
    height: 85px !important;
  }
  .marquee-2 span {
    font-size: 65px !important;
  }
  .marquee2-2 span {
    font-size: 65px !important;
  }
}

@media (max-width: 685px) {
  .marquee-w-2 {
    line-height: 8vw;
    height: 70px;
  }
}
@media (max-width: 480px) {
  .marquee-w-2 {
    height: 47px;
  }
}

@media (max-width: 380px) {
  .marquee-w-2 {
    height: 35px;
  }
}
@media (max-width: 300px) {
  .marquee-w-2 {
    height: 26px;
  }
}

.marquee-2 span,
.marquee2-2 span {
  opacity: 0.5;
  color: hsl(86, 45%, 54%);
  margin-top: -30px;
  height: 100%;
  font-size: 7vw;
}

@keyframes fillBackground {
  from {
    clip-path: circle(0% at top left);
    background-color: transparent;
  }
  to {
    clip-path: circle(150% at top left);
    background-color: hsl(86, 45%, 54%);
  }
}
.active-skill {
  position: relative;
  transform: translateY(-10px);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  overflow: hidden;
}
.active-skill:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(86, 45%, 54%);
  clip-path: circle(0% at top left);
  animation: fillBackground 0.8s ease-in-out forwards;
  z-index: -1;
}
.custom-skill:hover {
  position: relative;
  transform: translateY(-10px);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  overflow: hidden;
}
.custom-skill:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(86, 45%, 54%);
  clip-path: circle(0% at top left);
  animation: fillBackground 0.8s ease-in-out forwards;
  z-index: -1;
}
.custom-skill:hover .custom-skill-icon {
  color: white;
}
.custom-skill:hover > p {
  color: white;
}
