@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.cards {
  max-width: 1050px !important;
}
@media (max-width: 1500px) {
  .cards {
    max-width: 1100px !important;
  }
}
@media (max-width: 1200px) {
  .cards {
    max-width: 900px !important;
  }
}
@media (max-width: 1000px) {
  .cards {
    max-width: 800px !important;
  }
}
@media (max-width: 900px) {
  .cards {
    max-width: 80% !important;
  }
}
.contact {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 6;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}

.contact-form {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 5;
  padding: 80px 50px;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s ease;
  border-radius: 5px;
}

.contact-form.active {
  transform: translate3d(0, 0, 0);
}

.contact-form .close {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 30px;
  top: 30px;
}

.cards {
  margin: auto;
  background: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 550px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}

.cards .card {
  display: inline-block;
  margin-right: 20px;
}

.cards .card-toggle {
  z-index: 4;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 1.8;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.cards .card-toggle.active {
  color: white;
  border-color: white;
}

.cards .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: -webkit-clip-path 1s ease;
  padding: 20px 0 0;
  overflow: hidden;
  border-radius: 5px;
}

.cards .card-content .row {
  display: table;
  width: 100%;
  height: 100%;
}

.cards .card-content .col {
  width: 50%;
  height: 100%;
  display: table-cell;
  transition: 0.3s ease 0.3s;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
}

.cards .card-content .col h2 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1;
  margin: 0 0 20px;
}

.cards .card-content .col h2 strong {
  font-weight: 700;
  display: block;
}

.cards .card-content .col img {
  max-width: 90%;
  width: 100%;
}
@media (min-width: 768px) {
  .left > p {
    max-width: 868px;
  }
  .cards {
    max-width: 95%;
    width: 100%;
    /* height: 450px; */
    height: 350px;
  }
  .left {
    padding-right: 40px !important;
    padding-left: 65px !important;
  }
}
@media (max-width: 1200px) {
  .cards {
    /* height: 550px; */
    height: 450px;
  }
}
@media (max-width: 768px) {
  .contact {
    left: 20px !important;
  }
  .card-toggle {
    top: 20px;
    right: 20px;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .cards {
    /* height: 635px; */
    height: 535px;
  }
}
@media (max-width: 370px) {
  .cards {
    /* height: 735px; */
    height: 635px;
    /* padding-left: 0px !important; */
  }
}
@media (max-width: 370px) {
  .cards {
    /* height: 790px; */
    height: 690px;
  }
}
@media (max-width: 290px) {
  .cards {
    /* height: 860px; */
    height: 760px;
  }
}
.cards .card-content .col.left {
  transform: translate3d(0, 0, 0);
  opacity: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.cards .card-content .col.right {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  padding-left: 30px;
}

.cards .card.active .col {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#overview .card-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
  color: white;
}

form .control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
}

form .control label {
  position: absolute;
  top: 30px;
  left: 0;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}

form .control.submit {
  text-align: right;
}

form input,
form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
  padding: 10px 0;
}

form .filled label,
form input:focus + label,
form textarea:focus + label {
  top: 0;
  font-size: 12px;
}

form textarea {
  height: 100px;
}

form input[type="submit"] {
  width: auto;
  background-color: #f06292;
  padding: 10px 40px;
  color: white;
  border-radius: 40px;
}

.left > p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#overview .card-content {
  background-color: white;
  -webkit-clip-path: circle(0% at 91.5% 75px);
  clip-path: circle(0% at 91.5% 75px);
}

#overview.active .card-toggle {
  opacity: 0;
}

#overview.active .card-content {
  -webkit-clip-path: circle(270% at 91.5% 75px);
  clip-path: circle(270% at 91.5% 75px);
}

#overview .right {
  background: url("https://dl.dropboxusercontent.com/u/26808427/cdn/james.png")
    no-repeat bottom right;
  background-size: contain;
}

#github .card-content {
  -webkit-clip-path: circle(0% at 76px 88%);
  clip-path: circle(0% at 50px 88%);
  /* background-color: hsl(97, 55%, 16%); */
  background-color: hsl(96, 42%, 56%);
  color: white;
}

#github.active .card-content {
  -webkit-clip-path: circle(270% at 76px 88%);
  clip-path: circle(270% at 50px 88%);
}

#leetcode .card-content {
  /* background-color: #2f98d1; */
  background-color: white;
  -webkit-clip-path: circle(0% at 150px 88%);
  clip-path: circle(0% at 150px 88%);
  background-color: hsl(96, 42%, 56%);
  color: white;
}

#leetcode.active .card-content {
  -webkit-clip-path: circle(270% at 150px 88%);
  clip-path: circle(270% at 150px 88%);
}

#linkedin .card-content {
  -webkit-clip-path: circle(0% at 220px 88%);
  clip-path: circle(0% at 220px 88%);

  background-color: white;
}
.card-content > .row > .left > .link-section {
  color: white;
}
#linkedin.active .card-content {
  -webkit-clip-path: circle(270% at 220px 88%);
  clip-path: circle(270% at 220px 88%);
}

#PersonalWebsite .card-content {
  background-color: hsl(0, 0%, 100%);
  -webkit-clip-path: circle(0% at 292px 88%);
  clip-path: circle(0% at 292px 88%);
}

#PersonalWebsite.active .card-content {
  -webkit-clip-path: circle(270% at 292px 88%);
  clip-path: circle(270% at 292px 88%);
}

#github.active > .card-content > .row > .left > .link-section {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

#leetcode.active > .card-content > .row > .left > .link-section {
  text-decoration: none;
  color: white;
  font-weight: 800;
}
#overview.active > .card-content > .row > .left > .link-section {
  text-decoration: none;
  color: black !;
  font-weight: 800;
}
#linkedin.active > .card-content > .row > .left > .link-section {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
#PersonalWebsite.active > .card-content > .row > .left > .link-section {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.card-content > .row > .left > .link-section {
  text-decoration: none;
  font-weight: 800;
}
.icon {
  color: currentColor;
  transition: color 0.3s ease;
}

.icon.white {
  color: white;
}
.icon.black {
  color: black;
}

/* @media (min-width: 1100px) {
  .cards {
    margin-top: -100px !important;
  }
}
.cards {
  margin-top: -50px;
} */





/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */

/* Keyframes for bouncing animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* .contact {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 6;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
} */

/* .contact-form {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 5;
  padding: 80px 50px;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s ease;
  border-radius: 5px;
} */

/* .contact-form.active {
  transform: translate3d(0, 0, 0);
} */

/* .contact-form .close {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 30px;
  top: 30px;
} */

/* .cards {
  margin: auto;
  background: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 550px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
} */

.card-toggle {
  /* display: inline-block; */
  /* margin-right: 20px; */
  animation: bounce 3.5s ease-in-out infinite;
}

.cards .card:nth-child(1) {
  animation-delay: 0s;
}

.cards .card:nth-child(2) {
  animation-delay: 0.1s;
}

.cards .card:nth-child(3) {
  animation-delay: 0.2s;
}

.cards .card:nth-child(4) {
  animation-delay: 0.3s;
}

/* .cards .card-toggle {
  z-index: 4;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 1.8;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
} */

/* .cards .card-toggle.active {
  color: white;
  border-color: white;
} */

/* Add a bubble effect around the active icon */
/* .cards .card.active .card-toggle:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: 3px solid white;
  border-color: white;
  z-index: -1;
  transition: 0.3s ease;
  transform: translate(-3%,-15%);
} */

/* Style for icons */
/* .icon {
  display: inline-block;
  transition: color 0.3s ease;
} */

/* .white {
  color: #fff;
}

.black {
  color: #000;
} */



.cards{
  margin-top: 5px !important;
}
.cards2{
  justify-content:space-between !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: 10px !important;
}



.browser-buttons {
  display: flex;
  gap: 8px;
  padding: 10px;
  flex-direction: row-reverse;
}

.browser-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.browser-button.close {
  background-color: #ff5f57;
}

.browser-button.minimize {
  background-color: #ffbd2e;
}

.browser-button.maximize {
  background-color: #28c840;
}

@media (max-width: 630px) {
  .hide-on-small-screen > span {
    display: none !important;
  }
  .hide-on-small-screen  {
    padding-left: 18px !important;
  }
}
@media (max-width: 400px) {
  .hide-on-small-screen-2 > span {
    display: none !important;
  }
  .hide-on-small-screen-2  {
    padding-left: 18px !important;
  }
}
@media (max-width: 320px) {
  .hide-on-small-screen-1 > span {
    display: none !important;
  }
  .hide-on-small-screen-1  {
    padding-left: 18px !important;
  }
}

.tab{
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* background-color: hsl(95, 28%, 17%); */
  background-color: hsl(96, 42%, 56%);
  border-radius: 2px;
}
.tabss{
  margin-left: -28px;
}
.tab1{

}
.tab2{

}
.tab3{

}
.tab4{

}

.tab.selected{
  background-color: white;
  color: hsl(96, 42%, 56%);
  transition: color 0.3s ease, transform 0.3s ease;
  /* transform: translateY(2px); */
  /* border-bottom: 10px solid white; */
  
}