:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
    
  
  }
  
  /* Timeline Container */
  .timeline {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    /* background-color: hsl(90, 100%, 98%) !important; */
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 1100px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid hsl(87, 38%, 56%);
    border-style: dotted;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  :root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
  }
  /* Title of the card */
  .title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: hsl(86, 45%, 54%);
    position: relative;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 30px;
  }
  .wrapper {
    font-size: xx-large;
    display: grid;
    min-height: 7vh;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .wrapper {
    /* text-align: right !important; */
    margin-right: 0;
    margin-left: auto;
  }
  .card:nth-child(even) > .info > .wrapper {
    margin-right: 0;
    margin-left: auto;
  }
  
  .card > .info > .wrapper > .top {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
  }
  .card > .info > .wrapper > .bottom {
    margin-left: 10px !important;
    margin-right: 9px !important;
    margin-top: 13px !important;
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    text-shadow: 0vh 0vh 0.3vh hsl(0, 0%, 100%);
    font-size: xx-large;
    /* text-shadow: 0.2vh 0.2vh 0.3vh hsl(86, 58%, 32%); */
    /* color: hsl(86, 58%, 32%); */
    color: hsl(0, 0%, 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 28%, 0% 58%);
  }
  :root {
    /* --highlight-color: hsl(86, 41%, 44%); */
    /* --highlight-color: hsl(0, 0%, 100%); */
    --highlight-color: hsl(86, 100%, 88%);
  }
  
  .bottom {
    text-shadow: 0vh 0vh 0.3vh hsl(86, 100%, 88%);
    font-size: xx-large;
    /* margin-top: 3px; */
    clip-path: polygon(0% 60%, 100% 30%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(
      177deg,
      var(--highlight-color) 53%,
      var(--highlight-color) 65%
    );
    background: linear-gradient(
      177deg,
      var(--highlight-color) 53%,
      var(--highlight-color) 65%
    );
    background-clip: text;
    /* text-shadow: hsl(86, 54%, 56%) 0px 1px 4px; */
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid hsl(86, 47%, 50%);
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  
  .card:nth-child(even) > .info > .category {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .category::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .category::before {
    right: -45px;
  }
  .card:nth-child(even) > .info > .date {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .date::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .date::before {
    right: -45px;
  }
  
  .card:nth-child(even) > .info > .mainContent {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .mainContent::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .mainContent::before {
    right: -45px;
  }
  
  /* .info{
      border: black 3px solid;
      border-radius: 30px;
      padding: 8px;
    } */
  
  /* Information about the timeline */
  .info {
    /* background: linear-gradient(48deg, hwb(97 76% 8%) 0%, hwb(96 96% 0%) 40%, hwb(90 98% 0%) 45%, hwb(97 76% 8%) 100%); */
    /* background: linear-gradient(48deg, hsl(86, 45%, 54%) 0%, hsl(86, 51%, 71%) 40%, hsl(86, 54%, 70%) 45%, hsl(86, 45%, 54%) 100%); */
    background-color: hsl(86, 36%, 68%) !important;
    /* background-color: hsl(0, 0%, 0%) !important; */
  
    display: flex;
    flex-direction: column;
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
  
    /* box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
      15px 15px 15px rgba(0, 0, 0, 0.1),
      -5px -5px 5px rgba(255, 255, 255, 0.2) inset,
      5px 5px 5px rgba(0, 0, 0, 0.1) inset; */
  
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 90px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  
  /* .card:nth-child(odd) > .info {
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    
    .card:nth-child(even) > .info {
      box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    } */
  
  .date {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    color: hsl(86, 45%, 54%);
    font-size: large;
  }
  
  .category {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: large;
  }
  .date-style {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(86, 43%, 38%);
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  .category-style {
    color: hsl(86, 40%, 50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  
  .mainContent-style {
    color: rgb(0, 0, 0);
    text-shadow: rgba(255, 255, 255, 255) 0px 2px 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .style1 {
  }
  .style2 {
    text-shadow: rgba(255, 255, 255, 255) 0px 1px 4px;
    background-color: hsl(0, 0%, 100%) !important;
    /* background-color: hsl(90, 100%, 98%) !important; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    color: black;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
    margin: 2px;
    padding-bottom: 4px;
    border-radius: 10px;
  }
  .style3 {
  }
  .mainContent {
    font-weight: 400;
    margin: 10px;
  }
  
  .wrapper {
    /* background: linear-gradient(71deg, #080509, #332f35, #2a262c, #080509); */
    /* background: linear-gradient(71deg, hsl(0, 0%, 14%), hsl(0, 0%, 21%), hsl(0, 0%, 11%)) !important; */
    /* background-color: hsl(90, 100%, 98%) !important; */
    width: max-content !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
    background: linear-gradient(71deg, #080509, #332f35, #2a262c, #080509);
    margin-bottom: 10px;
    border-radius: 15px;
    /* background-color: hsl(86, 58%, 32%); */
  }
  
  @media only screen and (max-width: 815px) {
    .card:nth-child(even) > .info > .wrapper {
      margin-right: 0;
      margin-left: auto;
    }
    .card:nth-child(even) > .info > .wrapper {
      margin-right: 0;
      margin-left: auto;
    }
    .wrapper {
      text-align: center !important;
      width: 100% !important;
    }
    .top {
      font-size: x-large;
    }
    .bottom {
      font-size: x-large;
    }
  }
  
  .SkillHolder {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .card:nth-child(even) .SkillHolder {
    justify-content: right;
  }
  
  


  /* @media only screen and (max-width: 415px) {
    .card {
        text-align: center !important;
        width: 100% !important;
    }
} */