@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

.timelineContainer {
  color: rgb(255, 255, 255);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  max-width: 1200px;
}
@media (min-width: 1700px) {
  .timelineContainer {
    max-width: 1400px;
  }
}
@media (min-width: 640px) {
  .timelineContainer {
    padding-bottom: 4rem;
  }
}



.timelineItems {
  color: rgb(255, 255, 255);
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
  box-sizing: border-box; 
}

@media (min-width: 640px) {
  .timelineItems {
    margin-top: 5rem;
    flex-direction: row;
    gap: 80px;
  }
}

.timelineItems2 {
  color: rgb(255, 255, 255);
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .timelineItems2 {
    margin-top: 5rem;
    flex-direction: row-reverse;
    gap: 80px;
  }
}
.verticalline {
  color: rgb(255, 255, 255); 
  border-right: 2px solid hsl(87, 70%, 41%);
  border-style: dashed;
  position: absolute; 
  bottom: 0;
  left: 50%;
  top: 0; 
  display: none;
  transform: translate(-50%, 0) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
  box-sizing: border-box; 
}

@media (min-width: 640px) {
  .verticalline {
    display: block;
  }
}

.dot {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
  position: absolute;
  left: 50%;
  z-index: 10;
  display: none;
  height: 2.4rem;
  width: 1.5rem;
  transform: translate(-50%, 0) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
  border-radius: 9999px;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border: 3px solid hsl(87, 75%, 36%);
}

.dot:hover {
  transform: translate(-50%, 0) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1.1) scaleY(1.1);
}

@media (min-width: 640px) {
  .dot {
    display: block;
  }
}


.separatorLine{
  color: rgb(255, 255, 255);
  transform: translate(0, -5px);
  border-bottom: 2px solid hsl(87, 70%, 41%);
  border-style: dashed;
  position: absolute; 
  left: 25%; 
  right: 50%; 
  top: 50%;
  display: none; 
  height: 1px; 
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .separatorLine {
    display: block;
  }
}
.separatorLine2{
  color: rgb(255, 255, 255);
  border-bottom: 2px solid hsl(87, 70%, 41%);
  border-style: dashed;
  position: absolute; 
  transform: translate(0, -5px);
  left: 50%; 
  right: 25%; 
  top: 50%;
  display: none; 
  height: 1px; 
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .separatorLine2 {
    display: block;
  }
}

.linkContainer {
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;

}

@media (min-width: 640px) {
  .linkContainer {
    justify-content: flex-start;
  }
}




.imageWrapper {
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 0%;
}

@media (min-width: 640px) {
  .imageWrapper {
    justify-content: flex-start;
    padding-left: 20%;
  }
}

.imageWrapper2 {
  padding-right: 0%;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .imageWrapper2 {
    justify-content: flex-end;
    padding-right: 20%;
  }
}
.image2{
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 10;
  margin-left: auto;
  width: 100%;
  max-width: 500px;
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 60px);
  display: block;
  vertical-align: middle;
  height: auto;
  box-sizing: border-box;
}
.image {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    margin-right: auto; 
    width: 100%; 
    max-width: 500px;
    filter: drop-shadow(rgb(255, 255, 255) 0px 0px 60px); 
    display: block; 
    vertical-align: middle; 
    height: auto; 
    box-sizing: border-box;
}
.projectLabel2 {
  color: rgb(255, 255, 255); 
  background-color: hsl(87, 76%, 40%); 
  left: 60%; 
  top: 1.25rem; 
  margin-top: 0.5rem; 
  display: flex; 
  width: max-content; 
  align-items: center; 
  gap: 0.25rem; 
  border-radius: 0.25rem; 
  padding: 0.25rem 0.5rem; 
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  transition-duration: 200ms; 
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  box-sizing: border-box; 
}

@media (min-width: 640px) {
  .projectLabel2 {
    position: absolute;
    transform: translate(-50%, 0px) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.projectLabel {
  color: rgb(255, 255, 255); 
  background-color: hsl(87, 76%, 40%); 
  left: 40%; 
  top: 1.25rem; 
  margin-top: 0.5rem; 
  display: flex;
  width: max-content; 
  align-items: center; 
  gap: 0.25rem; 
  border-radius: 0.25rem; 
  padding: 0.25rem 0.5rem; 
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  transition-duration: 200ms; 
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  box-sizing: border-box; 
}
@media (max-width: 640px) {
  .projectLabel{
    align-self: center;
  }
  .projectLabel2{
    align-self: center;
  }
}
@media (min-width: 640px) {
.imageWrapper:hover .projectLabel {
  transform: translate(-50%, -70px) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1.1) scaleY(1.1);
}
}
@media (min-width: 640px) {
  .imageWrapper2:hover .projectLabel2 {
    transform: translate(-50%, -70px) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1.1) scaleY(1.1);
  }
  }
@media (min-width: 640px) {
  .projectLabel {
    position: absolute;
    transform: translate(-50%, 0px) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.externalLinkIcon {
  color: rgb(255, 255, 255);
  background-color: hsl(87, 76%, 40%);
  display: block;
  vertical-align: middle;
  box-sizing: border-box;
}

.projectDetails {
  padding-left: 0%;
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
}
.projectDetails2 {
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .projectDetails {
    margin-left: 5%;
  }
  .projectDetails2 {
    margin-left: 5%;
  }
}
@media (min-width: 1237px) {
  .projectDetails2 {
    margin-left: 10%;
  }
}
.projectTitle {
  font-size: 36px;
  line-height: 2.5rem;
  font-weight: 400;
  color: hsl(87, 85%, 5%);
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

@media (min-width: 768px) {
  .projectTitle {
    font-size: 2.1rem;
    line-height: 3.5rem;
  }
}
.projectSubtitle {
  font-size: 1rem;
  line-height: 3.5rem;
  /* color: hsl(87, 70%, 41%); */
  color: #668B37;
  box-sizing: border-box;
  font-weight: 500;
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .projectSubtitle {
    font-size: 1.55rem !important;
    line-height: 2.75rem !important;
    font-size: xx-large;
  }
}

.projectDescription {
  /* color: hsl(87, 70%, 24%); */
  color: #464646 !important;
  margin: 0;
  /* text-align: left; */
  text-align: justify;
  font-size: 16px !important;
  line-height: 1.25rem !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .projectDescription {
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: justify;
    padding-right: 20%;
  }
}
.projectDescription2 {
  /* color: hsl(87, 70%, 24%); */
  color: #464646 !important;
  margin: 0;
  /* text-align: left; */
  text-align: justify;
  font-size: 16px !important;
  line-height: 1.25rem !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .projectDescription2 {
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: justify;
    padding-right: 20%;
  }
}

.techList {
  margin-top: 20px;
  color: hsl(87, 76%, 40%);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .techList{
    padding-right: 10%;
  }
}
.techItem {
  font-weight: bolder;
  color: #91BE55;
  padding: 5px 10px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-sizing: border-box;
  border: 2px solid #91BE55;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .techItem {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}



.highlightedTechItem{
  background-color: #91BE55 !important;
  color: white;
}

.timelineContainer > *:first-child {
  margin-top: 30px;
} 













/*  */

.highlight{
  /* color: black; */
  font-weight: 500;
  /* font-size: 1.2rem; */
  /* line-height: 1.5rem; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}