html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure full height */
  overflow-x: hidden; /* Prevent horizontal overflow  */
  /* overflow-y: hidden; Prevent vertical overflow */
}
