html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}





.scroll-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
}

.scroll-container > * {
  scroll-snap-align: start;
  flex: 0 0 100vh;
}

